* {
  box-sizing: border-box; /*all elements will have the same box model. There won't be overflow and all boxes will have the size of their parent*/
}

body,
html {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "squares double double "
    "squares . .";
  gap: 10px;
  padding: 10px;
  background-color: rgb(220, 149, 220);
}

.grid-item {
  padding: 10px;
}

#grid-header {
  grid-area: header;
  background-color: #f0c862;
}

#grid-square {
  grid-area: squares;
  background-color: #62f0c8;
}

#grid-double {
  grid-area: double;
  background-color: #ffd4f3;
}

.grid-item:nth-child(4) {
  background-color: #8682f4;
}

.grid-item:nth-child(5) {
  background-color: #f4f486;
}
