* {
  box-sizing: border-box;
}

div {
  border: 1px solid black;
}

/* html,
body {
  margin: 0;
  padding: 0;
} */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* wrap items to new line when they don't fit one row, can be used in conjuction with flex-shrink & flex-grow*/
  justify-content: space-around; /* space items evenly along the main axis */
}

.flex-item {
  margin: 5%;
  flex-shrink: 1; /* how much an item can shrink when there is not enough space (in a wrap) */
  flex-grow: 2; /* how much an item can grow when there is extra space (in a wrap)*/
}
